@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ant-comment {
  position: relative;
  -webkit-animation: fadein 1s ease-in alternate;
  -moz-animation: fadein 1s ease-in alternate;
  animation: fadein 1s ease-in alternate;
}
